body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 300;
}

.logo {
    margin: 0;
    width: 60px;
    height: 60px;
}

.navbar {
    padding: 0;
}

.card-color-edge {
    height: 100%;
    position: absolute;
    width: .3em;
}

.collapse.show {
    padding-bottom: .5rem !important;
    padding-left: .5rem !important;
}