body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 300;
}

.logo {
  margin: 0;
  width: 60px;
  height: 60px;
}

.navbar {
  padding: 0;
}

.card-color-edge-container {
  position: absolute;
  height: 100%;
  padding: 2px;
}

.card-color-edge {
  height: 100%;
  width: .3em;
}

.collapse.show {
  padding-bottom: .5rem !important;
  padding-left: .5rem !important;
}

.clipboard-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  cursor: copy;
}

.clipboard-card-body {
  padding: 0.75rem;
  padding-left: 1.25rem;
}

.clipboard-card-header {
  padding: 0rem;
}

.lane-card-body {
  padding: 0.75rem;
}

.lane-card-header {
  padding: 0.75rem;
}

.show-all-button {
  margin-left: -0.75rem !important;
  border-top-left-radius: 0rem !important;
  border-bottom-left-radius: 0rem;
}