@using System.Security.Principal

@if (User.Identity?.IsAuthenticated == true)
{
        <li class="nav-item">
            <span class="navbar-text">Hello @User.Identity.Name!</span>
        </li>
         <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link nav-btn-link">Sign out</button>
        </form>
}
else
{
    <li class="nav-item">
      <a class="nav-link @(ViewData["Title"] as string == "Log in" ? "active" : "")" id="login" asp-area="Identity" asp-page="/Account/Login">Sign in</a>
    </li>    
}
